body {
    font-family: 'Lato', sans-serif;
}



header {
    background-image: url(/assets/Layer\ 7.png);
    height: 670px;
    background-repeat: no-repeat;
    background-size: 100%;
}

nav a {
    
    margin: 40px 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article1, .twitter, .discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    
}

.content-wrapper {
    display: flex;
}

.content-wrapper > img {
    width: 67%
}
.content-frame {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.frame {
    padding: 40px;
    display: flex;
    align-items: center;
    text-align: center; 
    flex-direction: column;
    height: 51%;

}

.content-frame_bottom-image {
   width: 100%;
}

.twitter ul > li {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.big-content-wrapper {
    display: flex;
}
.block1, .block3,{
   
   
    width: 33%
}

footer , .article1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2 ;
}

footer {
    height: 300px;
}

li {
    display: inline-block;
    margin: 10px;
}
