body {
    font-family: 'Lato', sans-serif;

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 210px;
    
    
}

nav li , footer li{
    display: inline-block;
    margin: 0 20px;
    font-weight: 400 bolder; 
    font-size: 14px;
    flex-wrap: wrap;

}
.foto1 {
    position: relative;
}

.article1 {
    background-color:#f2f2f2;
    padding: 150px 300px;
    width: 100%;
    text-align: center;
}

.article3, .article4, .article5, .article1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 50%
}
.article1 img, .article3 img, .article4 img, .article5 img {
    align-self: center;
    margin-top: 40px;
}

.article3 p, .article4 p, .article5 p {
    padding: 0 80px;
}

.block1, .block4 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}



.line1, .line2 , .block2 {
    display: flex;
}


